<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="shortcut icon" href="Images/blockchain.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
<div class="alert alert-danger d-flex allign-items-center justify-content-center" role="alert">
 <span class="bi bi-x-square-fill"></span><span th:text="${deleteres}"></span>
</div>
</body>
</html>