<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Warehouse</title>
<style>
    header{
            position: sticky;
            top: 0px;
        }
    .box{
        margin-top:15px;
        display: flex;
        justify-content:space-between;
        background-color: black;
        height: 45px;
        padding-top: 10px;
        position: sticky;
        top: 2px;
    }
    a{
        text-decoration: none;
        font-size: large;
        box-sizing: border-box;
    }
    a:hover{
        background-color:tomato;
        transition: 2px;
    }
</style>
 <link rel="stylesheet" href="/WareHouseApp/node_modules/bootstrap/dist/css/bootstrap.css">
 <link rel="stylesheet" href="/WareHouseApp/node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body class="container-fluid">
<header class="box" >
 <a class="btn btn-dark" style="color: whitesmoke; background-color: black;" type="link"
            data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="bi bi-justify"></i>
        </a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                    images, lists, etc.
                </div>
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>

<div>
   <a href="" style="color:aliceblue;"><span class="bi bi-house-door"></span> Home</a>
</div>
<div>
<a href="reg" style="color:aliceblue;">Register Here Uom</a>
</div>
<div>
<a href="getdata" style="color:aliceblue;">Get All Uom Data</a>
</div>
<div>
<a href="st/register" style="color:aliceblue;">Register Here Shipment</a>
</div>
<div>
<a href="st/all" style="color:aliceblue;">Get Shipment Data</a>
</div>
</header>
<div style="padding-top: 250px;">
    <h2 class="text-center" style="font-weight: 900; color: black;">WHAT MAKES OUR WAREHOUSE DIFFERENT?</h2>
    <div style="display:flex;justify-content:space-evenly;padding-top:90px;">
        <div style="width: 200px;">
            <div class="text-center"><img th:src="@{Images/logistics.webp}" width="110px" height="110px"/></div>
            <div><h4 class="text-center" style="font-weight:1000;color: black;">Largest Logistics Network</h4></div>
        </div>
        <div>
            <div class="text-center"><img th:src="@{Images/powerfulltech.webp}" width="110px" height="110px"/></div>
            <div><h4 class="text-center" style="font-weight:1000;color: black;">Powerful Technology</h4></div>
        </div>
        <div>
            <div class="text-center"><img th:src="@{Images/TeamGame.webp}" width="110px" height="110px"/></div>
            <div><h4 class="text-center" style="font-weight:1000;color: black;">Team Game</h4></div>
        </div>
        <div>
            <div class="text-center"><img th:src="@{Images/flexblemodel.webp}" width="110px" height="110px"/></div>
            <div><h4 class="text-center" style="font-weight:1000;color: black;">Flexible Model</h4></div>
        </div>

    </div>   
</div>
 <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
 <script src="/WareHouseApp/node_modules/jquery/dist/jquery.js"></script>
 <script src="/WareHouseApp/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>