<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="shortcut icon" href="Images/blockchain.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

	<style>
	 a{
	 text-decoration:none;
	 color:white;
	 }
	 th{
	 color:white;
	 }
	</style>
</head>
<body>
	<div class="container">
		<div>
			<div class="bg-dark text-white text-center">
				<h3>PURCHASE DATA PAGE</h3>
			</div>
			<div>
				<table class="table table-hover">
					<tr class="bg-dark">
						<th>OrderCode</th>
						<th>QualityCheck</th>
						<th>Status</th>
						<th>Description</th>
						<th>Shipment</th>
						<th>Vendor</th>
						<th>OPERATION</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob.orderCode}"></td>
						<td th:text="${ob.qualityCheck}"></td>
						<td th:text="${ob.status}" class="text-info fw-bold fs-6" ></td>
						<td th:text="${ob.description}"></td>
						<td th:text="${ob.shipmentType.shipmentCode}"></td>
						<td th:text="${ob.whuserType.userCode}"></td>
						<td th:if="${ob.status!='Ordered'}"><button class="btn btn-primary"><a th:href="@{/pc/parts?id={data} (data=${ob.orderId})}">Add Parts      </a></button></td>
						<td th:if="${ob.status=='Ordered'}"><button class="btn btn-success"><a th:href="@{/pc/parts?id={data} (data=${ob.orderId})}">CheckOut</a></button></td>
					</tr>
				</table>
			</div>
			<div th:if="${message != null}">
				<span class="text-center text-danger" th:text="${message}"></span>
			</div>
		</div>
	</div>

</body>
</html>