<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Add Parts</title>
<style>
.head-box {
	padding: 60px;
}

span {
	margin-right: 10px;
}
button a{
text-decoration:none;
color:white;
}
</style>
<link rel="shortcut icon" href="Images/blockchain.png">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous"></script>

</head>
<body>
<div class="d-flex justify-content-center"> 
<h2 style="box-shadow:0px 0px 4px red;background-color:lightgray" class="mt-4 w-50 text-center">Order Here</h2>
	</div>
	<div>
		<div class="head-box">
			<div style="float: left">
				<span class="text-bold">OrderCode</span> <span class="btn btn-info"
					th:text="${obj.orderCode}"></span>
			</div>
			<div style="float: right">
				<span class="text-bold">Order Status</span> <span
					class="btn btn-info" th:text="${obj.status}"></span>
			</div>
		</div>
		<hr th:if="${obj.status =='Picking' || obj.status =='Open'}">

		<div class="p-2 ms-5" th:if="${obj.status =='Picking' || obj.status =='Open'}" >
			<form th:action="@{/pc/savedtl}" method="POST"
				th:object="${dtlobj}"  >
				<dl class="row">
				<div class="col-3">
					<dt>PartCode</dt>
					<dd>
						<select th:field="*{part.id}" class="form-control">
							<option value="">-SELECT-</option>
							<option th:each="ob:${partidcode}" th:value="${ob.key}" th:text="${ob.value}"></option>
						</select>
					</dd>
					</div>
					<div class="col-3">
					<dt>Quantity</dt>
					<dd>
					<input type="text" class="form-control" name=qty>
					<input type="hidden" name=order.orderId  th:value="${obj.orderId}">
					</dd>
					
					</div>
					<div class="col-3">
					<button type="submit" class="btn btn-warning w-50 mt-4">Add Part</button>
					</div>
				</dl>
			</form>
		</div>
</div>	
<hr>	
	<table class="table text-center" >
		<tr >
		<th>No</th>
		<th>ItemCode</th>
		<th>Base Cost</th>
		<th>Quantity</th>
		<th th:if="${obj.status =='Picking' || obj.status =='Open'}">Operation</th>
		</tr>
		<tr th:each="ob,i:${dtllist}">
		<td th:text="${i.count}"></td>
		<td th:text="${ob.part.partCode}"></td>
		<td th:text="${ob.part.partCost}"></td>
		<td th:text="${ob.qty}"></td>
		<td th:if="${obj.status =='Picking' || obj.status =='Open'}"><button class="btn btn-danger"><a th:href="@{/pc/delete?dtlId={id2}&orderId={id1}&orderCode={id3} (id2=${ob.id},id1=${obj.orderId},id3=${ob.order.orderCode})}">Remove</a></button></td>
		</tr>
		</table>
		<div class="p-5">
		<button class="btn btn-info text-center float-start" th:if="${obj.status}==Picking"><a th:href="@{/pc/confirm?orderId={id}(id=${obj.orderId})}">Place Order</a></button>
		<button class="btn btn-dark text-center float-end" th:if="${obj.status}==Ordered"><a th:href="@{/pc/generate?orderId={id}(id=${obj.orderId})}">Generate Invoice</a></button>
		<button class="btn btn-dark text-center float-end" th:if="${obj.status}==Invoiced"><a th:href="@{/pc/printinvoice?orderId={id}(id=${obj.orderId})}">Print Invoice</a></button>
		<span class="float-none"></span>
		</div>
		 <div th:insert="~{fragments/commonui :: footer}"></div>
</body>
</html>