<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
     <link rel="shortcut icon" href="Images/blockchain.png">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
   <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <style>
        body {
            font-size: small;
            font-weight: 100;
        }

        a {
            text-decoration: none;
            color: white;
        }

        body {
            background-image: url(/Images/background5.png);
            color: white;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <header class="d-flex justify-content-around mt-2">
                <div><button class="btn btn-primary"><a href="/"><span
                                class="bi bi-house">Home</span></a></button></div>
                <h4 class="text-center font-weight-bolder text-white bg-dark" style="font-weight: 900;"> PURCHASE
                    REGISTER PAGE </h4>
                <div><button class="btn btn-dark"><a href="all">View Purchase Data</a></button></div>
            </header>
            <div class="d-flex justify-content-center ">
                <form class="w-50" th:action="@{/pc/save}" method="post" th:object="${pcobj}">
                    <dl>
                        <dt>Order Code</dt>
                        <dd><input type="text" th:field="*{orderCode}" class="form-control" /></dd>
                        <span id="orderCodeError"></span>
                          <dt>Shipment Code</dt>
                        <dd>
                        <select th:field="*{shipmentType.id}" class="form-control">
                        <option value="">Select</option>
                        <option  th:each="ob:${shimpmenttypes}" th:value="${ob.key}" th:text="${ob.value}"></option>
                        </select>
                        </dd>
                        <dt>Vendor</dt>
                        <dd>
                        <select th:field="*{whuserType.id}" class="form-control">
                        <option value="">Select</option>
                        <option  th:each="ob:${whusertypes}" th:value="${ob.key}" th:text="${ob.value}"></option>
                        </select>
                        </dd>
                        
                        <dt>refernceNumber</dt>
                        <dd >
                          <input type="text" th:field="*{refernceNumber}" class="form-control">
                        </dd> 
                            <dt>QualityCheck</dt>
                        <dd>
                        <input type="radio" name="qulaity" value="Yes" th:field=*{qualityCheck}>Yes
                        <input type="radio" name="qulaity" value="No" th:field=*{qualityCheck}>No
                        </dd>
                        <dt>Status</dt>
                        <dd>
                           <input type="text" th:field="*{status}" class="form-control" readonly>
                        </dd> 
                        <dt>description</dt>
                        <dd>
                        <input type="text" th:field="*{description}" class="form-control">
                        </dd>
                    </dl>
                    <div>
                        <button type="submit" class="btn btn-primary">Create Order</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </form>
            </div>
            <div class="bg-info text-white text-center" th:if="${savemsg != null}">
                <span th:text="${savemsg}"></span>
            </div>

        </div>
    </div>
</body>

</html>