<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>UOM Data</title>
  <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
<style>

</style>
</head>
<body bgcolor="cream">
<div class="text-center bg-dark text-white" style="height:50px">
UOM Data
</div>
<div class="container">
<h5>Download Data</h5>
			 <a th:href="@{/excel}" ><button class="btn btn-primary">Excel</button></a> |
			 <a th:href="@{/pdf}" ><button class="btn btn-primary">Pdf</button></a>
<table border="1" class="table table-hover">
<thead class="thead-dark">
<tr class="table-dark text-white">
<th>ID</th><th>Type</th><th>Model</th><th>Description</th><th>Delete</th><th>Edit</th>
</tr>
</thead>
<tbody>
<tr th:each="ob:${data}">
<td  th:text="${ob.id}"></td>
<td th:text="${ob.uomType}"></td>
<td th:text="${ob.uomModel}"></td>
<td th:text="${ob.description}"></td>
<td><a th:href="@{/delete?id={a} (a=${ob.id})}"><span><button class="btn btn-danger w-75">Delete</button></span></a></td>
<td><a  th:href="@{/edit?id={b} (b=${ob.id})}"><span><button class="btn btn-dark w-75">Edit</button></span></a></td>
</tr>
</tbody>
</table>
</div>
 <script src="node_modules/jquery/dist/jquery.js"></script>
 <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>