<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
     <link rel="stylesheet" href="/WareHouseApp/node_modules/bootstrap/dist/css/bootstrap.css">
 <link rel="stylesheet" href="/WareHouseApp/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <style>
		*{
			accent-color: rgb(9, 255, 0);
		}
		#userbuttongreen:hover {
			box-shadow: 4px 6px 4px forestgreen;
		}

		#userbuttonred:hover {
			box-shadow: 4px 6px 4px red;
		}

		header:hover {
			box-shadow: 2px 3px 8px rgb(2, 8, 6);
		}
	</style>
</head>
<body>
    <div class="container-fluid">
        <header  style="background-color: rgb(41, 29, 86); color: whitesmoke;height: 50px;">
            <h4 style="text-align: center;padding-top: 15px;">WELCOME TO SHIPMENT TYPE UPDATE PAGE</h4>
        </header>
      <div style="display: flex;justify-content:center; margin-top:8px;">
        <form style="width:500px;height:500px;border: 2px solid whitesmoke;padding: 5px; box-shadow: 2px 2px 5px black;" 
        th:action="@{/st/update}" method="POST" th:object="${shipmentType}">
            <div>
                <label>SHIPMENT ID</label>
                <input  type="text" th:field="*{id}" class="form-control" readonly >
                <span id="shipmentIdError"></span>
            </div>
            <div>
                <label>SHIPMENT MODE</label>
                <input type="text" th:field="*{shipmentMode}" class="form-control" readonly >
                <span id="shipmentModeError">
            </div>
            <div>
                <label>SHIPMENT CODE</label>
                <input type="text" th:field="*{shipmentCode}" class="form-control" readonly >
                <span id="shipmentCodeError">
            </div>
            <div>
                <label>ENABLE SHIPMENT</label>
                <input type="radio" th:field="*{enableShipment}" value="YES">
                YES <input type="radio" th:field="*{enableShipment}" value="NO">
                NO
                <span id="enableShipmentError"></span>
            </div>
            <div>
                <label>SHIPMENT GRADE</label>
                <input type="radio" th:field="*{shipmentGrade}" value="A">
               <span>A</span> <input type="radio" th:field="*{shipmentGrade}" value="B">
                <span>B</span> <input type="radio" th:field="*{shipmentGrade}" value="C">
                <span>C</span>
                <span id="shipmentGradeError"></span>
            </div>
            <div>
                <label>DESCRIPTION</label>
                <textarea th:field="*{description}" class="form-control"></textarea>
                <span id="descriptionError"></span>
            </div>
            <div class="mt-4" style="padding-top:20px;">
                <input style="margin-left:10px;height: 50px;width:100px;" type="submit" value="Update"
                    class="btn btn-success" id="userbuttongreen" />
                <button style="height:50px;width:100px;" type="reset" class="btn btn-danger"
                    id="userbuttonred">Reset</button>
            </div>
        </form>
      </div>  
    </div>
    <script src="/WareHouseApp/node_modules/jquery/dist/jquery.js"></script>
 <script src="/WareHouseApp/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>

</html>