<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="shortcut icon" href="Images/blockchain.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

	<style>
	 a{
	 text-decoration:none;
	 color:white;
	 }
	</style>
</head>
<body>
	<div class="container">
		<div>
			<div class="bg-dark text-white text-center">
				<h3>SHIPMENT TYPE DATA PAGE</h3>
			</div>
			<div>
				<h5>Download Data</h5>
				<a th:href="@{/st/reportexcel}"><button class="btn btn-primary">Excel</button></a>
				| <a th:href="@{/st/reportpdf}"><button class="btn btn-primary">Pdf</button></a>
				<table class="table table-hover">
					<tr class="bg-dark">
						<th>ID</th>
						<th>MODE</th>
						<th>CODE</th>
						<th>ENABLED</th>
						<th>GRADE</th>
						<th>DESCRIPTION</th>
						<th>OPERATION</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob.id}"></td>
						<td th:text="${ob.shipmentMode}"></td>
						<td th:text="${ob.shipmentCode}"></td>
						<td th:text="${ob.enableShipment}"></td>
						<td th:text="${ob.shipmentGrade}"></td>
						<td th:text="${ob.description}"></td>
						<td><button class="btn btn-danger" type="button">
								<a th:href="@{/st/delete?id={data}(data=${ob.id})}">Delete</a>
							</button></td>
						<td><a class="btn btn-info"
							th:href="@{/st/edit?id={data}(data=${ob.id})}">EDIT</a></td>
					</tr>
				</table>
			</div>
			<div th:if="${message != null}">
				<span class="text-center text-danger" th:text="${message}"></span>
			</div>
		</div>
	</div>

</body>
</html>