<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
 <link rel="stylesheet" href="/WareHouseApp/node_modules/bootstrap/dist/css/bootstrap.css">
 <link rel="stylesheet" href="/WareHouseApp/node_modules/bootstrap-icons/font/bootstrap-icons.css">
	<style>
	     *{
			accent-color: rgb(9, 255, 0);;
	     	}
		#userbuttongreen:hover {
			box-shadow: 4px 6px 4px forestgreen;
		}

		#userbuttonred:hover {
			box-shadow: 4px 6px 4px red;
		}

		header:hover {
			box-shadow: 2px 3px 8px rgb(2, 8, 6);
		}
	</style>
	<!-- <script>
		$(document).ready(function () {
			// hide error section
			$("#shipmentModeError").hide();
			$("#shipmentCodeError").hide();
			$("#enableShipmentError").hide();
			$("#shipmentGradeError").hide();
			$("#descriptionError").hide();

			//define error variable
			var shipmentModeError = false;
			var shipmentCodeError = true;
			var enableShipmentError = false;
			var shipmentGradeError = false;
			var descriptionError = false;

			//define validate function
			function validate_shipmentMode() {
				var val = $("#shipmentMode").val();
				if (val=="") {
					$("#shipmentModeError").show();
					$("#shipmentModeError").html("Select <b> Shipment Mode</b>");
					$("#shipmentModeError").css("color", "red");
					shipmentModeError = false;
				} else {
					$("#shipmentModeError").hide();
					shipmentModeError = true;
				}
				return shipmentModeError;
			}

			/* function validate_shipmentCode() {
				var val = $("#shipmentCode").val();
				var exp = /^[A-Z\-\s]{4,12}$/;
				if (val == '') {
					$("#shipmentCodeError").show();
					$("#shipmentCodeError").html("Code <b>Can not be Empty</b>");
					$("#shipmentCodeError").css("color", "red");
					shipmentCodeError = false;
				} else if (!exp.test(val)) {
					$("#shipmentCodeError").show();
					$("#shipmentCodeError").html("Code <b> must be 4-12 chars only</b>");
					$("#shipmentCodeError").css("color", "red");
					shipmentCodeError = false;
				} else {
					$("#shipmentCodeError").hide();
					shipmentCodeError = true;
				}

				return shipmentCodeError;
			}
 */
			function validate_enableShipment() {
				var len = $("[name='enableShipment']:checked").length;
				if (len == 0) {
					$("#enableShipmentError").show();
					$("#enableShipmentError").html("Choose <b> Enable Shipment </b>");
					$("#enableShipmentError").css("color", "red");
					enableShipmentError = false;
				} else {
					$("#enableShipmentError").hide();
					enableShipmentError = true;
				}
				return enableShipmentError;
			}

			function validate_shipmentGrade() {
				var len = $("[name='shipmentGrade']:checked").length;
				if (len == 0) {
					$("#shipmentGradeError").show();
					$("#shipmentGradeError").html("Select <b> Shipment Grade</b>");
					$("#shipmentGradeError").css("color", "red");
					shipmentGradeError = false;
				} else {
					$("#shipmentGradeError").hide();
					shipmentGradeError = true;
				}
				return shipmentGradeError;
			}

			function validate_description() {
				var val = $("#description").val();
				var exp = /^[A-Za-z0-9\-\.\,\s]{10,100}$/;
				if (val == '') {
					$("#descriptionError").show();
					$("#descriptionError").css("color", "red");
					$("#descriptionError").html("Description <b>Can not be emprty</b>");
					descriptionError = false;
				} else if (!exp.test(val)) {
					$("#descriptionError").show();
					$("#descriptionError").css("color", "red");
					$("#descriptionError").html("Description <b>must be 10-200chars only!</b>");
					descriptionError = false;
				} else {
					$("#descriptionError").hide();
					descriptionError = true;
				}
				return descriptionError;
			}
			//link with action
			$("#shipmentMode").change(function () {
				validate_shipmentMode();
			});
			$("#shipmentCode").keyup(function () {
				$("#shipmentCode").val($("#shipmentCode").val().toUpperCase());
				validate_shipmentCode();
			});
			$("[name='enableShipment']").change(function () {
				validate_enableShipment();
			});
			$("[name='shipmentGrade']").change(function () {
				validate_shipmentGrade();
			});
			$("#description").keyup(function () {
				validate_description();
			});

			//onsubmit
			$("#stRegForm").submit(function () {
				
				validate_shipmentMode();
				validate_enableShipment();
				validate_shipmentGrade();
				validate_description();
				if (enableShipmentError && shipmentCodeError
					&& shipmentModeError && shipmentGradeError
					&& descriptionError) {
					return true;
				}

				else return false;
			});
		});
	</script> -->
</head>

<body>
	<div class="container-fluid">
	<div><a href="../">Back</a></div>
		<header style="background-color: rgb(41, 29, 86); color: whitesmoke;height: 50px;">
			<h3 style="text-align: center;padding-top: 15px;">WELCOME TO SHIPMENT TYPE REGISTER PAGE</h3>
		</header>
		<div style="display: flex;justify-content:center; margin-top:8px;">
			<form
				style="width:500px;height:500px;border: 2px solid whitesmoke;padding: 5px; box-shadow: 2px 2px 5px black;"
				id="stRegForm" th:action="@{/st/save}" method="POST">
				<div>
					<h3><label>SHIPMENT MODE</label></h3>
					<select class="form-control" id="shipmentMode" name="shipmentMode">
						<option value="">-SELECT--</option>
						<option value="AIR">AIR</option>
						<option value="TRUCK">TRUCK</option>
						<option value="SHIP">SHIP</option>
						<option value="TRAIN">TRAIN</option>
					</select>
					<span id="shipmentModeError"></span>
				</div>
				<div>
					<h3><label>SHIPMENT CODE</label></h3>
					<input type="text" class="form-control" name="shipmentCode" />
					<span id="shipmentCodeError"></span>
				</div>
				<div>
					<label>ENABLE SHIPMENT</label>
					<input type="radio" value="YES" name="enableShipment"><span>Yes</span>
					<input type="radio" value="NO" name="enableShipment">
					<sapn>No</sapn>
					<span id="enableShipmentError"></span>
				</div>

				<div>
					<label>SHIPMENT GRADE</label>
					<input type="radio" value="A" name="grade">
					<span>A</span><input type="radio" value="B" name="shipmentGrade">
					<span>B</span><input type="radio" value="C" name="shipmentGrade">
					<span>C</span>
					<span id="shipmentGradeError"></span>
				</div>
				<div>
					<h3><label>DESCRIPTION</label></h3>
					<textarea class="form-control" name="description"></textarea>
					<span id="descriptionError"></span>
				</div>
				<div class="mt-4" style="padding-top:20px;">
					<input style="margin-left:10px;height: 50px;width:100px;" type="submit" value="REGISTER"
						class="btn btn-success" id="userbuttongreen" />
					<button style="height:50px;width:100px;" type="reset" class="btn btn-danger"
						id="userbuttonred">Reset</button>
				</div>
			</form>
		</div>

		<div th:if="${message != null}">
			<span th:text="${message}"></span>
		</div>
	</div>
<script src="/WareHouseApp/node_modules/jquery/dist/jquery.js"></script>
 <script src="/WareHouseApp/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>

</html>