<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	 <link rel="shortcut icon" href="Images/blockchain.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

	<style>
		 a {
            text-decoration: none;
            color: white;
        }
        body{
            background-image: url(Images/background5.png);
            color: black;
            font-weight: 600;
        }
	</style>
	<script>
		$(document).ready(function () {
			// hide error section
			$("#shipmentModeError").hide();
			$("#shipmentCodeError").hide();
			$("#enableShipmentError").hide();
			$("#shipmentGradeError").hide();
			$("#descriptionError").hide();

			//define error variable
			var shipmentModeError = false;
			var shipmentCodeError = true;
			var enableShipmentError = false;
			var shipmentGradeError = false;
			var descriptionError = false;

			//define validate function
			function validate_shipmentMode() {
				var val = $("#shipmentMode").val();
				if (val == "") {
					$("#shipmentModeError").show();
					$("#shipmentModeError").html("Select <b> Shipment Mode</b>");
					$("#shipmentModeError").css("color", "red");
					shipmentModeError = false;
				} else {
					$("#shipmentModeError").hide();
					shipmentModeError = true;
				}
				return shipmentModeError;
			}

			function validate_shipmentCode() {
				var val = $("#shipmentCode").val();
				var exp = /^[A-Z\-\s]{4,12}$/;
				if (val == '') {
					$("#shipmentCodeError").show();
					$("#shipmentCodeError").html("Code <b>Can not be Empty</b>");
					$("#shipmentCodeError").css("color", "red");
					shipmentCodeError = false;
				} else if (!exp.test(val)) {
					$("#shipmentCodeError").show();
					$("#shipmentCodeError").html("Code <b> must be 4-12 chars only</b>");
					$("#shipmentCodeError").css("color", "red");
					shipmentCodeError = false;
				} else {
					$("#shipmentCodeError").hide();
					shipmentCodeError = true;
				}

				return shipmentCodeError;
			}

			function validate_enableShipment() {
				var len = $("[name='enableShipment']:checked").length;
				if (len == 0) {
					$("#enableShipmentError").show();
					$("#enableShipmentError").html("Choose <b> Enable Shipment </b>");
					$("#enableShipmentError").css("color", "red");
					enableShipmentError = false;
				} else {
					$("#enableShipmentError").hide();
					enableShipmentError = true;
				}
				return enableShipmentError;
			}

			function validate_shipmentGrade() {
				var len = $("[name='shipmentGrade']:checked").length;
				if (len == 0) {
					$("#shipmentGradeError").show();
					$("#shipmentGradeError").html("Select <b> Shipment Grade</b>");
					$("#shipmentGradeError").css("color", "red");
					shipmentGradeError = false;
				} else {
					$("#shipmentGradeError").hide();
					shipmentGradeError = true;
				}
				return shipmentGradeError;
			}

			/* function validate_description() {
				var val = $("#description").val();
				var exp = /^[A-Za-z0-9\-\.\,\s]{10,100}$/;
				if (val == '') {
					$("#descriptionError").show();
					$("#descriptionError").css("color", "red");
					$("#descriptionError").html("Description <b>Can not be emprty</b>");
					descriptionError = false;
				} else if (!exp.test(val)) {
					$("#descriptionError").show();
					$("#descriptionError").css("color", "red");
					$("#descriptionError").html("Description <b>must be 10-200chars only!</b>");
					descriptionError = false;
				} else {
					$("#descriptionError").hide();
					descriptionError = true;
				}
				return descriptionError;
			} */
			//link with action
			$("#shipmentMode").change(function () {
				validate_shipmentMode();
			});
			$("#shipmentCode").keyup(function () {
				$("#shipmentCode").val($("#shipmentCode").val().toUpperCase());
				validate_shipmentCode();
			});
			$("[name='enableShipment']").change(function () {
				validate_enableShipment();
			});
			$("[name='shipmentGrade']").change(function () {
				validate_shipmentGrade();
			});
			$("#description").keyup(function () {
				validate_description();
			});

			//onsubmit
			$("#stRegForm").submit(function () {

				validate_shipmentMode();
				validate_enableShipment();
				validate_shipmentGrade();
				validate_description();
				if (enableShipmentError && shipmentCodeError
					&& shipmentModeError && shipmentGradeError
					&& descriptionError) {
					return true;
				}

				else return false;
			});
		});
	</script>
</head>

<body>
	<div >
		<header class="d-flex justify-content-around mt-2">
        <div><button class="btn btn-primary"><a href="/WareHouseApp/"><span class="bi bi-house">Home</span></a></button></div>
        <h4 class="text-center font-weight-bolder text-white bg-dark rounded-2"  style="font-weight: 900;">WELCOME TO SHIPMENT TYPE REGISTER PAGE <span class="bi bi-person-workspace"></span></h4>
        <div><button class="btn btn-dark"><a href="all">View Shipment Data</a></button></div>
    </header>
		<div class="d-flex justify-content-center">
			<form class="w-50" id="stRegForm" th:action="@{/st/save}" method="POST">
				<div>
					<h6><label>SHIPMENT MODE</label></h6>
					<select class="form-select" id="shipmentMode" name="shipmentMode">
						<option value="">-SELECT--</option>
						<option value="AIR">AIR</option>
						<option value="TRUCK">TRUCK</option>
						<option value="SHIP">SHIP</option>
						<option value="TRAIN">TRAIN</option>
					</select>
					<span id="shipmentModeError"></span>
				</div>
				<div class="mt-2">
					<h6><label>SHIPMENT CODE</label></h6>
					<input type="text" class="form-control" name="shipmentCode" />
					<span id="shipmentCodeError"></span>
				</div>
				<div class="mt-2">
					<label>ENABLE SHIPMENT</label>
					<input type="radio" value="YES" name="enableShipment"><span>Yes</span>
					<input type="radio" value="NO" name="enableShipment">
					<span>No</span>
					<span id="enableShipmentError"></span>
				</div>

				<div class="mt-2">
					<label>SHIPMENT GRADE</label>
					<input type="radio" value="A" name="shipmentGrade"><span>A</span>
					<input type="radio" value="B" name="shipmentGrade"><span>B</span>
					<input type="radio" value="C" name="shipmentGrade"><span>C</span>
					<span id="shipmentGradeError"></span>
				</div>
				<div class="mt-2">
					<h6><label>DESCRIPTION</label></h6>
					<textarea class="form-control" name="description"></textarea>
					<span id="descriptionError"></span>
				</div>
				<div class="mt-2" style="padding-top:20px;">
					<button  type="submit"  class="btn btn-success">Register</button>
					<button  type="reset" class="btn btn-danger">Reset</button>
				</div>
			</form>
		</div>
		<div th:if="${message != null}">
			<span class="text-center text-success" th:text="${message}"></span>
		</div>
	</div>
</body>

</html>