<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        .home{
        zoom: 75%;
       }
        .box{
            width: 1600px;
        }

    </style>
</head>

<body>
    <div style="padding: 20px;" class="home">
        <div>
            <header class="bg-primary text-white text-center">
                <h4>WH USER TYPE DATA PAGE</h4>
            </header>
            <div class="box">
                <a th:href="@{/whuser/excel}" class="btn btn-warning">EXCEL</a> |
                <a th:href="@{/whuser/pdf}" class="btn btn-warning">PDF</a>
                <table class="table table-hover" border="1">
                    <tr class="bg-success text-white">
                        <th>ID</th>
                        <th>TYPE</th>
                        <th>MODLE</th>
                        <th>USER FOR</th>
                        <th>EMAIL</th>
                        <th>CONTACT</th>
                        <th>ID TYPE</th>
                        <th>IF OTHER</th>
                        <th>ID NUMBER</th>
                        <th colspan="2">OPRATIONS</th>
                    </tr>
                    <tr th:each="ob:${list}">
                        <td th:text="${ob.id}"></td>
                        <td th:text="${ob.userType}"></td>
                        <td th:text="${ob.userCode}"></td>
                        <td th:text="${ob.userFor}"></td>
                        <td th:text="${ob.userEmail}"></td>
                        <td th:text="${ob.userContact}"></td>
                        <td th:text="${ob.userIdType}"></td>
                        <td th:text="${ob.ifOther}"></td>
                        <td th:text="${ob.idNumber}"></td>
                        <td ><a class="btn btn-danger" th:href="@{/WhUser/delete?id={data}(data=${ob.id})}">DELETE</a></td>
                        <td><a class="btn btn-info" th:href="@{/WhUser/edit?id={data}(data=${ob.id})}">EDIT</a> </td>
                    </tr>
                </table>
            </div>
            <div class="bg-warning text-white text-center" th:if="${message != null}">
                <span th:text="${message}"></span>
            </div>
        </div>
</body>

</html>